:root {

    /* Colors: */
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-69a82c: #69A82C;
    --unnamed-color-d6e27b: #D6E27B;
    --unnamed-color-b7cb1c: #B7CB1C;
    --unnamed-color-b55d2c: #B55D2C;
    --unnamed-color-076847: #076847;
    --unnamed-color-646363: #646363;
    --unnamed-color-333333: #333333;
    --unnamed-color-217409: #217409;
    --unnamed-color-629d52: #629D52;
    --unnamed-color-72b74c: #72B74C;
    --unnamed-color-707070: #707070;
    --unnamed-color-168039: #168039;
    --unnamed-color-cc0000: #CC0000;
    --unnamed-color-131313: #131313;
}


*{
    margin: 0;
    padding: 0;
}

body{
    font:poppins;
}


.navbar{
    padding-top:1.2rem;
    background: #FEFEFE 0% 0% no-repeat padding-box;
box-shadow: 0px -3px 10px #00000029;
/* background-color:transparent; */
}
.nav-link{
    color:black;
    font-weight:700;
    font-size:.95rem;
    margin-left:2rem;
}
.nav-link.active{
    color:#69a82c !important;
}
.nav-link:hover{
    color:#69a82c !important;
}



#hero{
    padding-top:12rem;
    padding-bottom:6rem;
}
.m1{
    position:relative;
    top:12px;
    
    margin-top:1rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    letter-spacing: 0px;
    color: #333333;
}
.m2{
  
    position:relative;
   
    text-align: left;
    font: normal normal medium 75px/87px 'Poppins';
    letter-spacing: 0px;
    color: #69A82C;
}

.p1{
    margin-top:2.50rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    letter-spacing: 0px;
    color: #646363;
    opacity: 1;
}

.btn-white1{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    letter-spacing: 0px;
    color: #FFFFFF;
        background: #69A82C 0% 0% no-repeat padding-box;
        border-radius: 4px;
        border:#69A82C;
        opacity: 1;
      padding:.45rem 1em;
      padding-top:.70rem;
      padding-bottom:.70rem;
      margin-top:1rem;
}

.btn-white1:hover{
    background:#69A82C;
}


.image-box{
margin-bottom:2rem;

background: transparent url('img/Group 1162.png') 0% 0% no-repeat padding-box;
opacity: 1;
}


#services{
    padding-bottom:10rem;
}

.section-title-heading{
    color: var(--unnamed-color-69a82c);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:17px;
    letter-spacing: 1px;
    color: #69A82C;
    opacity: 1;
}

.section-title-heading2{
text-align: center;
font-family: 'Poppins', sans-serif;
font-size:43px;
letter-spacing: 0px;
color: #076847;
opacity: 1;
}

.section-paragraph{
    color: var(--unnamed-color-076847);
text-align: left;
font-family: 'Poppins', sans-serif;
font-size: 17px;
letter-spacing: 0px;
color: #076847;
opacity: 1;
text-align:center;
padding-bottom:2rem;
}
.service-box{
text-align:center;
border: 1px solid var(--unnamed-color-72b74c);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #72B74C;
border-radius: 4px;
opacity: 1;
padding-left:1rem;
padding-right:1rem;
padding-top :3rem;
padding-bottom:3rem;
}
.service-box:hover{
    color:#ffffff;
    background-color: #69A82C;
}

.icon{
background: #69A82C no-repeat padding-box;
color:#ffff;
border: 18px solid #72B74C;
border-radius:25px;
opacity: 1;
}
.service-box:hover .icon{
    background-color:#ffffff;
    color:#69a82c;
    border:18px solid #ffffff;
}

.inner-head{
    color: var(--unnamed-color-69a82c);

 font-family: 'Poppins', sans-serif;
font-size:15px;
letter-spacing: 0px;
color: #69A82C;
opacity: 1;
padding-top:2rem;
}
.service-box:hover .inner-head{
    color:#ffffff;
}

.inner-para{
    color: var(--unnamed-color-076847);
text-align: center;
font-family: 'Poppins', sans-serif;
font-size:13px;
letter-spacing: 0px;
color: #076847;
opacity: 1;
padding-top:2rem;
}
.service-box:hover .inner-para{
    color:#ffffff;
}

.section-para-down{
    text-align: center;
font-family: 'Poppins', sans-serif;
font-size:13px;
letter-spacing: 0px;
color: #ffffff;
opacity: 1;
padding-top:1rem;
}


#about{
    padding-top:5rem;
    padding-bottom:5rem;
}

.image-box1{
    padding-left:3rem;
    padding-right:3rem;
    padding-top:6rem;
    padding-bottom:3rem;
   
}
.aboutH{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    letter-spacing: 0px;
    color: #69A82C;
    opacity: 1; 
}
.aboutH2{
    color: var(--unnamed-color-076847);
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size:35px;
    letter-spacing: 0px;
    color: #076847;
    opacity: 1;
}

.section-paragraph2{
    color: var(--unnamed-color-076847);
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    letter-spacing: 0px;
    color: #076847;
    opacity: 1;
    padding-top:1rem;
    padding-bottom:1rem;
}

.btn-white2{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    letter-spacing: 0px;
    color: #FFFFFF;
        background: #69A82C 0% 0% no-repeat padding-box;
        border-radius: 4px;
        border:#69A82C;
        opacity: 1;
      padding:.45rem 1em;
      padding-top:.70rem;
      padding-bottom:.70rem;
      padding-left:1rem;
      padding-right:1rem;
}


.btn-white2:hover{
    background:#69A82C;
}

#work{
    padding-top:5rem;
    padding-bottom:8rem;
}


.work-title-heading{
    color: var(--unnamed-color-69a82c);
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size:17px;
    letter-spacing: 1px;
    color: #69A82C;
    opacity: 1;
}

.work-title-heading2{
    color: var(--unnamed-color-076847);
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size:43px;
    letter-spacing: 0px;
    color: #076847;
    opacity: 1;
}





.quote-fullwidth{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border:10px;
    opacity: 1;
    display:flex;
    padding:18px;
    padding-left:1rem;
    padding-right:1.30rem;
   
    margin-left:7rem;
    margin-top:3rem;
}
.quote-fullwidth{
    -webkit-box-shadow: 0 14px 8px -5px rgb(218, 218, 218);
    -moz-box-shadow: 0 18px 8px -2px rgb(218, 218, 218);
         box-shadow: 0 10px 8px -6px rgb(218, 218, 218);
}
.quote-fullwidth-left{
    box-sizing: border-box;            
    display: block;
    text-align:left;
}

.quote-fullwidth-avatar{
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 10;
    box-sizing: border-box;
    box-shadow:1px 1px 7px;
    margin-right:1rem;
    display:block;
    text-align:left;
}

.quote-fullwidth-body{
    margin-top: 30px;
    box-sizing: border-box;
    display:block;
    text-align:left;
}

.quote-fullwidth-header{
    transform: translateY(-2px);
    transform: translatex(5px);
    margin-top: -1rem;
    
position:relative;

text-align: left;
font-family: 'Poppins', sans-serif;
font-size:18px;
letter-spacing: 0px;
color: #72B74C;
opacity: 1;
}

.quote-fullwidth-text{
    transform: translateY(-15px);
    transform: translatex(8px);
   
margin-top:16px;
text-align:left;
box-sizing:border-box;
margin:0;
font-family: 'Poppins', sans-serif;
font-size:12px;
font-weight:500;
letter-spacing: 0px;
color: #076847;
opacity: 1;
}




.quote-fullwidth1{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border:10px;
    opacity: 1;
    display:flex;
    padding:18px;
    padding-left:1rem;
    padding-right:2rem;
    margin-left:5rem;
    margin-top:5rem;
    position:relative;
    left:400px;
    top:1px;
}
.quote-fullwidth1{
    -webkit-box-shadow: 0 14px 8px -5px rgb(218, 218, 218);
       -moz-box-shadow: 0 18px 8px -2px rgb(218, 218, 218);
            box-shadow: 0 10px 8px -6px rgb(218, 218, 218);
  }
/* .quote-fullwidth1
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
} */
/* .quote-fullwidth1:before, .quote-fullwidth1:after
{
  content:"";
    position:absolute;
    z-index:-1;
  
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.quote-fullwidth1:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
   */

  
 
.quote-fullwidth-left1{
    box-sizing: border-box;            
    display: block;
    text-align:left;
}

.quote-fullwidth-avatar1{
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 10;
    box-shadow:1px 1px 7px;
    box-sizing: border-box;
    display:block;
    text-align:left;
}

.quote-fullwidth-body1{
    margin-top: 30px;
    box-sizing: border-box;
    display:block;
    text-align:left;
}

.quote-fullwidth-header1{
    transform: translateY(-2px);
    transform: translatex(20px);
    margin-top: -1rem;
    
position:relative;

text-align: left;
font-family: 'Poppins', sans-serif;
font-size:20px;
letter-spacing: 0px;
color: #72B74C;
opacity: 1;
}

.quote-fullwidth-text1{
    transform: translateY(-15px);
    transform: translatex(20px);
   
margin-top:16px;
text-align:left;
box-sizing:border-box;
margin:0;
font-family: 'Poppins', sans-serif;
font-size:13px;
font-weight:500;
letter-spacing: 0px;
color: #076847;
opacity: 1;
}

.side-image{
    position:relative;

}
.image-round1{
    position:absolute;
    width:100;
    left:550px;
    bottom:-176px;
    z-index:-5;
}
.side-image1{
    transform: translateY(-30px);
    transform: translateX(32em);
    position:relative;
}

.side-image2{
  position:relative;

}
.image-round{
    position:absolute;
    width:100;
    height:250px;
    bottom:-170px;
    right:630px;
    z-index:-10;
}
.side-image4{
    position:relative;
}

.image-round4{
    position:absolute;
    width:100;
   left:550px;
   bottom:-179px;
   height:270px;
   z-index:-5;
}


#testimonial{
    background: rgb(241, 241, 241);
    padding:7px;
    margin-bottom:4rem;
}


.about-test{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:17px;
    letter-spacing: 1px;
    color: #69A82C;
    margin-top:3rem;
}

.about-test1{
    margin-bottom:2rem;
    font-family: 'Poppins', sans-serif;
    font-size:41px;
    letter-spacing: 0px;
    color: #076847;
    opacity: 1;
    text-align:center;
}


.inner-paraa{
   max-width:500px;
   font-family: 'Poppins', sans-serif;
font-size:15px;
letter-spacing: 0px;
color: #076847;
opacity: 1;
margin-top:2rem;
}



.abouth2{
text-align: center;
font-family: 'Poppins', sans-serif;
font-weight:700;
letter-spacing: 0px;
color: #131313;
opacity: 1;
}
.abouth1{
    
text-align: center;
font-family: 'Poppins', sans-serif;
font-size:12px;
letter-spacing: 0px;
color: #646363;
opacity: 1;
margin-bottom:4rem;
}
.image-test{
   width:100;
   height:100;
    border-radius:50%;
    overflow:hidden;
}

.carousel-control-prev{
    color:#698a2c;
}

.carousel-control-prev-icon{
    color:#698a2c;
}






.footer-main-area {
  background: #333333;
  padding:50px 8rem;
  display:table-cell;
}

.footer-widget {
  margin-bottom: 3px;
  margin-top:2px;
  display: inline-block;
  
  line-height:2rem;
}
.footer-widget-list{
    margin-bottom:3rem;
}
.widget-title{
    position:relative;
    left:70px;
}
.para-footer{
    color: #FFFFFF;
    position: relative;
    line-height:2em;
    left:70px;
    top:13px;
    opacity: 1;
}

.inner-footer{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size:13px;
    letter-spacing: 0.95px;
    color: #FFFFFF;
    opacity: 1;
    padding:-8rem;
    margin-top:3rem;
  }

  .p-icon a {
  
    height: 42px;
    width: 42px;
    display: inline-block;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 42px;
    font-size: 16px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    cursor: pointer;
}

.p-icon  {
    display: inline;
    float: left;
    
}












 
  
  